body{
margin:0;
padding:0;
background-color:Silver;
text-align:center;
}
.main-header{
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
text-align:center;
padding:20px;
color:DarkSlateGray;
font-size:30px;
margin:20px;
}
.main-header:hover{
background-color:White;
}
.intro-paragraph{
font-family:"Lucida Console", "Courier New", monospace;
font-weight:bold;
text-align:center;
padding:20px;
color:DimGray;
font-size:20px;
margin:20px;
}
.intro-paragraph:hover{
background-color:White;
}
.cta-button{
display:inline-block;
padding:20px;
font-size:15px;
color:Gainsboro;
background-color:DimGray;
border-radius:20px;
margin:20px;
cursor:pointer;
}
.cta-button:hover{
background-color:White;
}
.main-header::before{
content:"***"
}
.main-header::after{
content:"***"
}
.intro-paragraph::before{
content:open-quote;
}
.intro-paragraph::after{
content:close-quote;
}
.cta-button::before{
content:'\261e'
}
.cta-button::after{
content:'\261c'
}